*{
    margin: 0;
    padding: 0;
}
.DESHBOAD{
display: flex;

}
.LEFT_PART{
width: 30%;
height: 700px;
background-color: chartreuse;
}
.RIGHT_PART{
width: 70%;
height: 700px;
background-color: darkcyan;
}
.image{
background-color: aqua;
height: 50%;
color: black;
}
.Navigation_two{
height: 50%;
color: bisque;
background-color: rgb(52, 165, 42);

}
.header{
    font-size: larger;
    text-align: center;
    background-color: brown;
    color: black;
    height: 100px;
}
.Navigation{
    font-size: larger;
    text-align: center;
    background-color: rgb(87, 165, 42);
    color: black;
    height: 100px;
}
.Artical{
    font-size: larger;
    text-align: center;
    background-color: rgb(155, 42, 165);
    color: black;
    height: 500px;
    width: 80%;
}
.Aside{
    font-size: larger;
    text-align: center;
    background-color: rgb(165, 42, 42);
    color: black;
    height: 500px;
    width: 20%;
}
.Apart{
    display: flex;
}
.footer{
    font-size: larger;
    text-align: center;
    background-color: rgb(75, 42, 165);
    color:azure;
    height: 100px;
}
